{% load inline_static %}
<nav class="row">
  <div class="container">
    <main>
      <a href="{% url 'index' %}">trb</a>
    </main>
    <aside>
      <div class="theme-switcher">
        {% icon 'brightness' %}
      </div>
      <div class="search">
        <label htmlFor="q">
          {% icon 'search' %}
          <input name="q" hx-indicator="nav aside .htmx-indicator" placeholder="Title of article" hx-get="{% url 'search' %}" hx-on::after-request="if(event.detail.successful) document.querySelector('#results').classList.add('visible')" hx-trigger="keyup changed throttle:100ms" hx-target="#results" />
        </label>
        <div class="htmx-indicator">
          {% image 'loader' %}
        </div>
      </div>
      <ul id="results" class="nolist"></ul>
    </aside>
  </div>
  <script>
    ;(function () {
      // light / dark theme switching
      document.querySelector('.theme-switcher').addEventListener('click', function () {
        var theme = localStorage.getItem('theme') || 'dark'
        var htmlTag = document.querySelector('html')
        htmlTag.classList.toggle('theme--dark')
        htmlTag.classList.toggle('theme--light')
    
        localStorage.setItem('theme', theme == 'light' ? 'dark' : 'light')
      })
    })()
  </script>
</nav>
