nav .htmx-indicator svg {
    height: 1em;
}

nav aside.search {
    position: relative;
    z-index: 200;
}

/* Base styles in `templates/shared/base.html` */
nav #results {
    margin-top: 2em;
    margin-right: 2em;
    transition: opacity .55ms ease, height .79ms ease-in;
    border: 1px solid var(--font-color);
    border-radius: .25em;
    padding: .25em;
    z-index: 200;
}

nav #results.visible {
    opacity: 1;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.favorite-action.in-favorites .add-to-favorites {
    display: none;
}

.favorite-action.not-in-favorites .remove-from-favorites {
    display: none;
}

#main-content .articles .htmx-indicator {
    opacity: 0;
    height: 50px;
    transition: opacity 250ms ease-in;
}

.lazy-loader {
    text-align: center;
    margin: auto;
    margin-top: 2em;
}

.strip {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* max-height: 10em; */
    overflow: hidden;
    text-overflow: ellipsis;
}